body{
    background:linear-gradient(120deg,#adf7f2, #15aaff);
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 700px;
    width: 800px;
    padding: 25px 30px;
    border-radius: 60px;
}

.green-tick{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tick{
    width: 300px;
}

.announcement{
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect{
    display: flex;
    align-items: center;
    justify-content: center;
}