<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>login</title>
  <link rel="stylesheet" href="/css/parent.css">
</head>

<body>
  <div class="choose">
        <div class="text-login">What would you like to Log In as</div>
    </div>
    <div class="center-login">
        <a href="/login">
          Normal User
        </a>
        <a href="/login-Vendor">
          Vendors
        </a>
        <a href="/login-shipper">
         Shipper
        </a>
    </div>
  
</body>

</html>