body{
    background:linear-gradient(120deg,#adf7f2, #15aaff);
    height: 120vh;
}


.center{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 500px;
    padding: 25px 30px;
    border-radius: 5px;
}

.center h1{
    border-left: 1px solid black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

form .input_info{
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 8%;
}

.input_info input{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.pass_info input{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
form .pass_info{
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 8%;
}

.email input{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

form .email{
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 8%;
}
form .hub{
    position: relative;
    margin-bottom: 5%;
}

#img_input{
    position: relative;
    margin-bottom: 5%;
}


form label{
    font-size: 18px;
}
.error-text{
    display: flex;
    align-items: center;
    color: red;
    margin-bottom: 3%;
    display: none;
}

#register{
    width: 100%;
    background: #15aaff;
    color: white;
    font-size: 25px;
    font-family: monospace;
    font-weight: bolder;

}
.hide-show{
   position: absolute;
   left: 85%;
   top: 30%;
}

.error-display{
    position: relative;
    bottom: 20px;
    color: red;
}

a{
    text-decoration: none;
}
.invalid{
    color: red;
}
.valid{
    color: green;
}
#valid{
    color: green;
}

#valid2{
    color: green;
}


@media(max-width:1023px){
    .center{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        width: 400px;
        padding: 25px 30px;
        border-radius: 5px;
    }
    .center h1{
        border-left: 1px solid black;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        font-family: monospace;
    }
    form label{
        font-size: 15px;
    }
    .hide-show{
        position: absolute;
        left: 81%;
        top: 30%;
     }
     #register{
        text-transform: uppercase;
        width: 100%;
        background: #15aaff;
        color: white;
        font-size: 22px;
        font-family: monospace;
        font-weight: bolder;
    }
    .error-display{
        margin-top: 1%;
        font-size: 17px;
        position: relative;
        bottom: 20px;
        color: red;
    }
    
}

@media(max-width:767px){
    .center{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        width: 300px;
        padding: 25px 30px;
        border-radius: 5px;
    }
    .center h1{
        border-left: 1px solid black;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
    }
    form label{
        font-size: 15px;
    }
    .hide-show{
        font-size: 14px;
        position: absolute;
        left: 77%;
        top: 40%;
     }
     #register{
        text-transform: uppercase;
        width: 100%;
        background: #15aaff;
        color: white;
        font-size: 20px;
        font-family: monospace;
        font-weight: bolder;
    }
    .error-display{
        margin-top: 1%;
        font-size: 14px;
        position: relative;
        bottom: 20px;
        color: red;
    }
    
}

